* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 70vh;
  --widths: 100%;
}

.slider-container {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: 60vh;
  width: var(--widths);
  position: relative;
  background-color: pink;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: flex;
  object-fit: cover;
}


.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 62vh;
  justify-content: center;
  z-index: 200;
  background-color:;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0px 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}

.active-dot,
.dot:hover {
  background-color: #000;
}
